.select{
    background-color: aliceblue;
    display: flex;
    
}
.formControl{
    margin: 5px;
}
.form{
    display: flex;
}
.selectForm{
    display: flex;

}
.formControll{
    display: flex;
    margin: 5px;
    margin-bottom: 5vh;
}

.chart{
    margin-top: 15px;
    color: aliceblue;
}
.table{
    margin-top: 10px;
    width: 100%;
}
.mainbox{
    display: flex;
    width: 100%;
}
.box{
    width: 80%;
}